<h2>Vote</h2>

<input
  #Input
  (keyup.enter)="getInput(Input.value); Input.value = ''"
  placeholder="Proposal ID or Number"
/>
<button type="button" class="btn btn-primary" (click)="getInput(Input.value)">
  Enter
</button>

<input
  #Delegation
  (keyup.enter)="getDelegation(Delegation.value); Delegation.value = ''"
  placeholder="write 'Approve' to submit"
  maxlength="7"
/>
<button
  type="button"
  class="btn btn-primary"
  (click)="getDelegation(Delegation.value)"
>
  Enter
</button>
<p id="Delegate" style="display: none">
  You must write Approve to submit your vote
</p>

<p id="Invalid" style="display: none">Invalid number or Id</p>
<div id="Vote" style="display: none">
  <p>Total number of votes cast : {{ voteCount }}</p>
  <button type="button" class="btn btn-primary" (click)="castVote()">
    Vote
  </button>
</div>
